extends layout

title!= title

block content
  h1!= post.title
  != post.contents

block footer
 div.nav
   h3 Post Date: 
    p= post.date
   a(href='/' + post.prevPost) <-- Previous Post
   a(href='/' + post.nextPost) Next Post -->
 a(href='/') Home
        