extends layout

title!= title

block content
  h1!= post.title
  p!= post.contents

block footer
 div
   h3 Post Date: 
   p= post.date
 div.nav
   if post.previousPost
     a(href='/' + post.previousPost) <-- Previous Post
   if post.nextPost
     a(href='/' + post.nextPost) Next Post -->
 a(href='/') Home
        