extends layout

title!= title

block content
  h1 title
  != postContents

block footer
 div.nav
   h3 Post Date: 
    p= date
   a(href='/' + prevPost) <-- Previous Post
   a(href='/' + nextPost) Next Post -->
        